header
  nav
  .siema
    .head-section
      .container
        .row
          .col-sm-5
            h2
              | Branding
              br
              | Web Design
              br
              | Marketing
              em .
    .head-section.second
      .container
        .row
          .col-sm-5
            h2
              | Strong
              br
              | Speed
              br
              | Ming
              em .
.full-height.second-section
  .container
    .row
      .col-sm-6
        .wrapper
          h3 mon role?
          h2 Valoriser votre contentu de maniera visuelle
          p textsadsdasds asfasf asfas fasf asfasf afse fjsigjsagioasigj sdiogjasgijasdg sdhguasdh gausdihg asduighasdughas ug
          p asdas dasd adad awdawdd dawdd affdsf   asdff asf afa fwfafaf aff awff aff af
          p dasda sdasdasda dwdaw dawdfafasdfafsaf a fasf ass as as da
          a en savoir plus
.full-height
.full-height
.full-height