doctype html
html(lang='zxx')
	head
		title MMLampadari
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
		link(rel='stylesheet' href='css/libs.min.css')
		link(rel='stylesheet' href='css/main.css')
	body
		header
			.modal-window
				.area-reserv
					.cross
					.title
						span Area Riservata
					.block.accedi
						.block-title
							span Accedi
						.block-form
							form
								input(type="text" placeholder='Email')
								input(type="text" placeholder='Password')
								button accedi
								a(href="#") Password dimenticata
							span
								|or
								br
								a(href="#") registrati
					.block.reg
						.block-title
							span Registrati
						.block-form
							form
								input(type="text" placeholder='Nome')
								input(type="text" placeholder='Cognome')
								input(type="text" placeholder='E-mail')
								input(type="text" placeholder='Password')
								input(type="checkbox")
								span Acconsento al trattamento dei dati
								input(type="checkbox")
								span Mi iscrivo alla Newsletter
								button iscriviti
							span
								|or
								br
								a(href="#") accedi
			.header-content
				img.logo(src="img/LOGO.png", alt="MMLampadari")
				.reserv
					a.reserv-link(href="#") AREA RISERVATA
					img(src="img/lock_icon.png", alt="")
				.menu
					a.trigger-menu(href="#") MENU
					ul.nav
						li
							a(href="#") Home
							ul.sub-menu
								li 
									a.first(href="#") Storia
								li 
									a(href="#") MM Design
								li 
									a(href="#") Designer
								li 
									a(href="#") Certificazioni
						li
							a(href="#") Azienda
							ul.sub-menu
								li 
									a.first(href="#") Storia
								li 
									a(href="#") MM Design
								li 
									a(href="#") Designer
								li 
									a(href="#") Certificazioni
						li
							a(href="#") Collezioni
							ul.sub-menu
								li 
									a.first(href="#") Storia
								li 
									a(href="#") MM Design
								li 
									a(href="#") Designer
								li 
									a(href="#") Certificazioni
						li
							a(href="#") News
							ul.sub-menu
								li 
									a.first(href="#") Storia
								li 
									a(href="#") MM Design
								li 
									a(href="#") Designer
								li 
									a(href="#") Certificazioni
						li.last
							a(href="#") Contatti
							ul.sub-menu
								li 
									a.first(href="#") Storia
								li 
									a(href="#") MM Design
								li 
									a(href="#") Designer
								li 
									a(href="#") Certificazioni
		main
			.main-content#container
				.slider#theTarget
					div(style='background-image: url(img/background-slide/1.png);')
						.info-slide
							span.title Lampadari contemporanei
							span.info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore 
						.open-section
							.open.close
							.info-section(style='background-color:#e2d1a6 ;')
								.title
									span Stai pensando ad un progetto?
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci	
							.info-section(style='background-color:white ;')
								.title 
									span Vi aspettiamo alla fiera Euroluce
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci
							.info-section.black(style='background-color:black ;')
								.title
									span Scopri la nuova collezione
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci
									
					div(style='background-image: url(img/background-slide/1.png);')
						.info-slide
							span.title Lampadari contemporanei
							span.info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore 
						.open-section
							.open.close
							.info-section(style='background-color:#e2d1a6 ;')
								.title
									span Stai pensando ad un progetto?
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci	
							.info-section(style='background-color:white ;')
								.title 
									span Vi aspettiamo alla fiera Euroluce
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci
							.info-section.black(style='background-color:black ;')
								.title
									span Scopri la nuova collezione
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci
					div(style='background-image: url(img/background-slide/1.png);')
						.info-slide
							span.title Lampadari contemporanei
							span.info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore 
						.open-section
							.open.close
							.info-section(style='background-color:#e2d1a6 ;')
								.title
									span Stai pensando ad un progetto?
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci	
							.info-section(style='background-color:white ;')
								.title 
									span Vi aspettiamo alla fiera Euroluce
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci
							.info-section.black(style='background-color:black ;')
								.title
									span Scopri la nuova collezione
								.info
									span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
								.link
									a(href="#") Approfondisci
		footer
			.footer
				.footer-content
					.footer-blocks
						.info-block.one
							h3.h3 Lampadari made in italy
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  
						.info-block.two
							h3.h3 Lampadari artigianali
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
						.info-block.three
							h3.h3 45 anni di esperienza
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
						.info-block.form
							h3.h3 Newsletter
							form
								input(type="text" placeholder='Nome e Cognome')
								input(type="text" placeholder='Email')
								label
									input(type="checkbox")
									| Acconsento al trattamento dei dati 
								button iscriviti
							//.soc-container
								a(href="#")
									img(src="img/facebook_icon.png", alt="facebook")
								a(href="#")
									img(src="img/instagram_icon.png", alt="instagram")
								a(href="#")
									img(src="img/p_icon.png", alt="p...")
					.bot-section
						.contact-info
							.contact-blocks
								.cont-block
									span MMLAMPADARI srl
								.cont-block
									span Via Frltrina 00
								.cont-block
									span 31111 Pederobba (TV)
								.cont-block
									span 0423.123456
								.cont-block
									span info@mmlampadari.mm
								.cont-block
									span P.IVA 04123456789
						.soc-container
							a(href="#")
								img(src="img/facebook_icon.png", alt="facebook")
							a(href="#")
								img(src="img/instagram_icon.png", alt="instagram")
							a(href="#")
								img(src="img/p_icon.png", alt="p...")
						.lang-change
							.lang.first
								a(href="#") ITA 
							.lang
								a(href="#") ENG
							.lang
								a(href="#") DEU
							.lang
								a(href="#") PYC
		script(src='js/libs.min.js')
		script(src='js/common.js')