.siema {
  .head-section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/header-img-1.jpg);
    &.second {
      background-image: url(../img/header-img-2.jpg);
      h2 {
        color: $black;
      }
    }
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
  }
  h2 {
    color: $white;
    font-size: 5em;
    font-weight: 300;
    em {
      font-style: normal;
      color: $yell;
    }
  }
  .wrapper-btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    button {
      width: 10px;
      height: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 50%;
      font-size: 0;
      padding: 0;
      background-color: $white;
      border: none;
    }
  }
}

.full-height {
  height: 100vh;
  border-bottom: 2px solid $black;
}

.second-section {
  position: relative;
  height: 100vh;
  padding-top: 90px;
  background-size: contain;
  background-position: 125% center;
  background-repeat: no-repeat;
  background-image: url(../img/second-section.jpg);
}

.section-title {
  position: relative;
  font-size:1.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 100px;
  &:after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: -45px;
    width: 90px;
    height: 3px;
    background-color: $black;
  }
  &.white {
    color: $white;
    &:after {
      color: $white;
    }
  }
}

h2 {
  color: $black;
  font-size: 2.2em;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.button {
  display: inline-block;
  border: 2px solid $black;
  font-size: 0.8em;
  padding:  1em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  margin-bottom: 30px;
}

.wrapper {
  padding-left: 120px;
}
