@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf')  format('truetype'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro.otf')  format('opentype'),
  url('../fonts/GothamPro/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro.ttf')  format('truetype'),
  url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Light/GothamPro-Light.eot?') format('eot'),
  url('../fonts/GothamPro-Light/GothamPro-Light.otf')  format('opentype'),
  url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light/GothamPro-Light.ttf')  format('truetype'),
  url('../fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: lighter;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.eot?') format('eot'),
  url('../fonts/roboto/Roboto-Light.otf')  format('opentype'),
  url('../fonts/roboto/Roboto-Light.woff') format('woff'),
  url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'),
  url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.eot?') format('eot'),
  url('../fonts/roboto/Roboto-Medium.otf')  format('opentype'),
  url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
  url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype'),
  url('../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
}