@font-face {
  font-family: "BigJohn";
  src: url("../fonts/BigJohn/BIGJOHN.eot?") format("eot"), url("../fonts/BigJohn/BIGJOHN.woff2") format("woff2"), url("../fonts/BigJohn/BIGJOHN.woff") format("woff"), url("../fonts/BigJohn/BIGJOHN.ttf") format("truetype"), url("../fonts/BigJohn/BIGJOHN.svg#BigJohn") format("svg"); }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansRegular.eot?") format("eot"), url("../fonts/OpenSans/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSans/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSansRegular.svg#OpenSans") format("svg"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro.eot?") format("eot"), url("../fonts/SourceSansPro/SourceSansPro.woff2") format("woff2"), url("../fonts/SourceSansPro/SourceSansPro.woff") format("woff"), url("../fonts/SourceSansPro/SourceSansPro.ttf") format("truetype"), url("../fonts/SourceSansPro/SourceSansPro.svg#SourceSansPro") format("svg"); }

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("../fonts/Pe-icon-7-stroke/Pe-icon-7-stroke.eot?") format("eot"), url("../fonts/Pe-icon-7-stroke/Pe-icon-7-stroke.woff2") format("woff2"), url("../fonts/Pe-icon-7-stroke/Pe-icon-7-stroke.woff") format("woff"), url("../fonts/Pe-icon-7-stroke/Pe-icon-7-stroke.ttf") format("truetype"), url("../fonts/Pe-icon-7-stroke/Pe-icon-7-stroke.svg#Pe-icon-7-stroke") format("svg"); }

html, body, header, .header {
  height: 100%; }

html {
  overflow-x: hidden; }

body {
  color: #fff;
  font-family: "OpenSans";
  font-size: 16px;
  background-color: #f3f3f3; }

p {
  letter-spacing: 0.05em; }

a {
  text-decoration: none;
  cursor: pointer; }
  a.button {
    padding: 0.4em 0.625em;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-border-radius: 3em;
            border-radius: 3em;
    color: #fff; }
    a.button:hover {
      border-color: #fff;
      color: #fff; }
    a.button.dark, a.button.white {
      padding-right: 1.875em;
      padding-left: 1.875em;
      line-height: 85px; }
    a.button.dark {
      border-color: #333b46;
      color: #333b46; }
    a.button.white {
      border-color: #fff;
      color: #fff; }
  a:hover {
    text-decoration: none; }

.row {
  z-index: 1;
  position: relative; }
  .row.margin-t {
    margin-top: 50px; }

.h2.white, .h3.white, .h4.white, .h5.white, .h6.white {
  color: #fff; }

.h2.not-margin-tb, .h3.not-margin-tb, .h4.not-margin-tb, .h5.not-margin-tb, .h6.not-margin-tb {
  margin-bottom: 0;
  margin-top: 0; }

.h2.not-margin-b, .h3.not-margin-b, .h4.not-margin-b, .h5.not-margin-b, .h6.not-margin-b {
  margin-bottom: 0; }

.h2.not-margin-t, .h3.not-margin-t, .h4.not-margin-t, .h5.not-margin-t, .h6.not-margin-t {
  margin-top: 0; }

.h2, .h3, p.info {
  font-family: "SourceSansPro";
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.h2 {
  font-size: 2.19em;
  line-height: 2;
  margin-bottom: 0.45em; }

.h3 {
  font-size: 1.25em;
  line-height: 0.6;
  color: #333b46;
  margin-bottom: 2.5em; }

.h4 {
  font-size: 1.25em;
  color: #464646;
  letter-spacing: 0.04em;
  font-weight: normal;
  margin-bottom: 0em; }

.h5 {
  font-size: 1em;
  color: #81868e;
  letter-spacing: 0.1em;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 0; }
  .h5.dark-color {
    color: #464646; }

.h6 {
  font-size: 0.875em;
  color: #81868e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: lighter;
  margin-top: 0.835em;
  font-style: italic; }

i {
  display: inline-block;
  font-size: 30px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }
  i.border {
    padding: 0.4333em;
    margin: 0.235em 0.94em 0.235em 0;
    background-color: #81868e;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    i.border:hover {
      background-color: #19BD9A; }
  i.medium {
    padding: 0.1333em;
    margin: 0; }
  i.big {
    font-size: 50px;
    line-height: 145px; }
  i.small {
    font-size: 15px;
    padding: 0.1333em; }

.section-white, .section-opacity, .section {
  position: relative; }

.section-white, .section-opacity, .section, .section-slider {
  padding: 60px 0; }
  .section-white p, .section-opacity p, .section p, .section-slider p {
    color: #81868e;
    margin-bottom: 2em;
    line-height: 1.78; }
    .section-white p.small, .section-opacity p.small, .section p.small, .section-slider p.small {
      font-size: 0.875em; }
    .section-white p.upper, .section-opacity p.upper, .section p.upper, .section-slider p.upper {
      text-transform: uppercase; }
    .section-white p.info, .section-opacity p.info, .section p.info, .section-slider p.info {
      font-size: 0.875em;
      color: #464646; }
    .section-white p.not-margin-tb, .section-opacity p.not-margin-tb, .section p.not-margin-tb, .section-slider p.not-margin-tb {
      margin-bottom: 0;
      margin-top: 0; }
    .section-white p.not-margin-t, .section-opacity p.not-margin-t, .section p.not-margin-t, .section-slider p.not-margin-t {
      margin-top: 0; }
  .section-white .color-light-grey, .section-opacity .color-light-grey, .section .color-light-grey, .section-slider .color-light-grey {
    color: #b2b3b3; }

.section-white {
  background-color: #fff; }

.section, .s-footer, .section-slider {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.section {
  color: #fff;
  background-color: #333b46; }

.section-slider.relative {
  position: relative; }

.section-map {
  position: relative;
  padding: 0; }

.section-center {
  text-align: center; }

.s-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .85;
  z-index: 0; }
  .s-pattern.green {
    background-color: #19BD9A; }
  .s-pattern.dark {
    background-color: black;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    .s-pattern.dark.hover-opacity:hover {
      opacity: 0; }
  .s-pattern.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#d9000000',GradientType=0 );
    opacity: .95; }

.s-footer {
  position: relative;
  background-color: #19BD9A;
  padding-top: 30px;
  padding-bottom: 30px; }

header {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
          background-size: cover; }

.header {
  background-color: rgba(32, 34, 36, 0.5); }

.nav {
  margin-top: 3em; }
  .nav ul {
    float: right;
    display: inline;
    list-style-type: none;
    padding: 0; }
    .nav ul li {
      display: inline-block; }
      .nav ul li a {
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
        .nav ul li a:hover {
          padding-left: 1.25em;
          padding-right: 1.25em; }

.logo {
  font-family: "BigJohn";
  font-size: 1.56em;
  position: relative;
  z-index: 1; }
  .logo.black {
    color: #000; }

.header-center {
  margin: 19vh 0;
  text-align: center; }
  .header-center p {
    line-height: 1.25; }

.header-arrow {
  position: absolute;
  bottom: 12%;
  width: 100%; }

.s-featured .notpadding {
  padding: 0; }

.hover-block .col-xs-4 {
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s; }

.hover-block:hover .col-xs-4:not(:hover) {
  width: 25%; }

.hover-block .col-xs-4:hover {
  width: 50%; }

.img-fluid {
  display: block;
  position: relative;
  min-width: 100%;
  height: 20em;
  background-color: #19BD9A;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center; }
  .img-fluid .img-title {
    position: relative;
    z-index: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    .img-fluid .img-title:hover {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
      background-color: transparent; }
    .img-fluid .img-title .h3 {
      color: #fff;
      line-height: 16em; }

.monitor {
  position: absolute;
  left: -130px;
  top: -110px;
  z-index: 0; }

.masonry-container {
  margin: 45px 0; }

.item {
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px; }
  .item img {
    width: 100%; }
  .item .img-info {
    position: absolute;
    top: 0;
    left: 5px;
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5); }
    .item .img-info:hover {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }

.name-team-persone, .info-team-persone {
  padding-right: 45px;
  text-align: right; }

.name-team-persone {
  border-right: 5px solid #19BD9A; }

.bars-team-persone {
  padding: 0 45px;
  margin-top: -20px; }
  .bars-team-persone .bar .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #e1e4e9; }
    .bars-team-persone .bar .progress-bar .progress {
      height: 5px;
      background-color: #19BD9A; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.slider1 {
  height: 470px; }

.slider2 {
  height: 320px; }
  .slider2 img {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 20px 0; }

.slider3, .slider3 .da-slide {
  background: transparent; }

.slider3 {
  height: 530px; }
  .slider3 .da-slide {
    opacity: 0; }
  .slider3 .da-slide-current.da-slide {
    opacity: 1; }
  .slider3 .da-dots {
    width: 20px;
    position: absolute;
    text-align: center;
    left: 95%;
    bottom: 40%;
    z-index: 2000;
    -moz-user-select: none;
    -webkit-user-select: none; }

.ie9 .slider3 .da-slide {
  opacity: 1; }

form {
  text-align: center; }

button, input[type=text] {
  font-size: 14px;
  margin: 5px;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all; }
  button:focus, input[type=text]:focus {
    outline: #fff auto 2px; }

button {
  min-width: 15%;
  text-transform: uppercase;
  border: none;
  background-color: #19BD9A;
  line-height: 3.5; }
  button.big {
    width: 96%; }

input[type=text] {
  width: 31%;
  background-color: transparent;
  border: 1px solid #81868e;
  padding: 15px 20px;
  margin: 0.53%; }
  input[type=text].big {
    margin-top: 0.732%;
    width: 96%;
    min-height: 190px; }

.contact-block {
  background-color: #fff;
  display: inline-block;
  margin: 20px;
  width: 287px;
  height: 290px;
  -webkit-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all; }
  .contact-block:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.65);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.65);
    -webkit-transform: translate(-5px, -5px);
        -ms-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px); }
  .contact-block .block-img {
    height: 50%; }

.map {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center; }
  .map p {
    line-height: -webkit-calc(495px - 16px);
    line-height: calc(495px - 16px); }

.soc-icons {
  margin: 30px 0; }
  .soc-icons .icon {
    display: inline-block; }
