doctype html
html
	head
		title PSD - design
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='css/libs.min.css')
		link(rel='stylesheet' href='css/main.css')
	body
		header#home
			.visible-xs.nav-mobile
				.menu-opener
					<i class="fa fa-bars" aria-hidden="true"></i>
					<i class="fa fa-times none" aria-hidden="true"></i>
				.logo-block
							img(src="img/logo.png", width='100%' alt="")
				ul
					li
						a(href="#home") home
					li
						a(href="#projects") project
					li
						a(href="#studio") studio
					li
						a(href="#news") news
					li
						a(href="#contact") contact
				.soc-icons
								a(href="") 
									<i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="") 
									<i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="") 
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								a(href="") 
									<i class="fa fa-google-plus" aria-hidden="true"></i>
				.address
					span
						|90802 California
						br
						|Long beach
						br
						|PO Box 68789
						br
						|300 East Ocean 
						br
						|Boulevard
				.contacts
					span
						|+64 9 345 6758
						br
						|info@dsgn-studio.com
			.container-fluid
				.row
					.col-xs-12.col-sm-7.col-md-8.col-lg-8.logo-section(style='background-image:url(img/logo_section.png)')
						.logo-block
							img(src="img/logo.png", width='100%' alt="")
							span 
								|ASSOCIATES
								br
								|STUDIO
								br
								|DESIGN
							.soc-icons
								a(href="") 
									<i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="") 
									<i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="") 
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								a(href="") 
									<i class="fa fa-google-plus" aria-hidden="true"></i>
					.hidden-xs.col-sm-5.col-md-4.col-lg-4.nav-section.name-section(style='background-image:url(img/1.svg);background-color:#7acec3')
						.nav-block
							.nav
								.menu-opener
									<i class="fa fa-bars" aria-hidden="true"></i>
								ul.menu
									li
										a(href="#home") home
									li
										a(href="#projects") projects
									li
										a(href="#studio") studio
									li
										a(href="#news") news
									li
										a(href="#contact") contact
									li
										a.close-menu(href="#") 
											<i class="fa fa-times" aria-hidden="true"></i>
							.address
								span
									|90802 California
									br
									|Long beach
									br
									|PO Box 68789
									br
									|300 East Ocean 
									br
									|Boulevard
							.contacts
								span
									|+64 9 345 6758
									br
									|info@dsgn-studio.com

		section.project#projects
			.container-fluid
				.row
					.col-xs-12.col-sm-5.col-md-5.col-lg-4.name-section(style='background-color:#ebb240;')
						.project-title
							.nav-project
								ul
									li All
									li House
									li Commercial
									li Personal
									li Studio lab
							.h1-project
								h1.h1 projects
					.col-xs-12.col-sm-7.col-md-7.col-lg-4.white-back(style='background-image:url(img/project_fondue.png)')
						.item.fondue
							.item-info
								h2.h2 FONDUE
								span.upper
									b Project Assistant: 
									|Francesco Dompieri
									br
									b Material: 
									|Glass and Metal
									br
									b Typology: 
									|Suspension lamp
									br
									b Client: 
									|David Design
									br
									b Year: 
									|2014
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200
					.col-xs-7.col-sm-6.col-md-6.col-lg-4.not-padd.white-back.width-clear
						.item.potter(style='background-image:url(img/project_potter.png);background-color:#dfe0d9;')
							.item-info
								h2.h2 potter
								span.upper
									b for stelton
								br
								span
									|Potter focuses on the functionality and process of preparing tea. a big sieve allows the flavor of to evenly brewed. 
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200
						.hidden-lg.item.fiji(style='background-image:url(img/project_fiji.png)')
							.item-info
								h2.h2 fiji
								span.upper
									b designer: 
									|Cuno Frommherz
									br
									b Typology: 
									|armchairs
									br
									b Year: 
									|2012
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200
					.col-xs-5.col-sm-6.col-md-6.col-lg-3.white-back.width-clear(style='background-image:url(img/project_louis.png)')
						.item.louis
							.item-info
								h2.h2 louis xx
								span.upper
									b designer: 
									| philippe starck
									br 
									b ypology: 
									| chairs
									br
									b Client: 
									| vitra
									br
									b Year: 
									| 2012
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200
					.col-xs-12.col-sm-7.col-md-7.col-lg-5(style='background-image:url(img/project_346.png)')
						.item.project-395
							.item-info
								h2.h2 395-396 P22
								span.upper
									b Designer:
									| Patrick Norguet
									br
									b Typology:
									| ARMchairs
									br
									b Client: 
									|Cassina
									br
									b Year: 
									|2013
							.item-second-block
								.item-view
									a(href="#") View project
								.item-likes
									a(href="")
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									br
									span +200
					.col-xs-8.col-xs-offset-2.col-sm-5.col-sm-offset-0.col-md-5.col-lg-4.white-back.not-padd.width-clear
						.visible-lg.item.tabano(style='background-image:url(img/project_tabano.png);')
							.item-block
								.item-info
									h2.h2 tabano
									span.upper
										b DESIGNER:
										| PATRICIA URQUIOLA
										br
										b Typology:
										| Armchairs
										br
										b Client:
										| B&B ITALIA
										br
										b Year:
										| 2014
								.item-view
									a(href="#") View project
								.item-likes
									a(href="")
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									br
									span +200
						.visible-lg.item.fiji(style='background-image:url(img/project_fiji.png)')
							.item-info
								h2.h2 fiji
								span.upper
									b designer: 
									|Cuno Frommherz
									br
									b Typology: 
									|armchairs
									br
									b Year: 
									|2012
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200
						.hidden-lg.item.tabano.in-flow(style='background-image:url(img/project_tabano.png);')
							.item-block
								.item-info
									h2.h2 tabano
									span.upper
										b DESIGNER:
										| PATRICIA URQUIOLA
										br
										b Typology:
										| Armchairs
										br
										b Client:
										| B&B ITALIA
										br
										b Year:
										| 2014
								.item-view
									a(href="#") View project
								.item-likes
									a(href="")
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									br
									span +200

					.col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-0.white-back.three-hundred(style='background-image:url(img/project_sesann.png)')
						.item.sesann
							.item-info
								h2.h2 sesann
								span.upper
									b designer: 
									|Cuno Frommherz
									br
									b Typology: 
									|armchairs
									br
									b Year: 
									|2012
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200

					.col-xs-6.col-sm-7.col-md-7.col-lg-2.sea-dark-back.three-hundred.width-clear(style='background-image:url(img/project_alessi.png)')
						.item.alessi
							.item-info
								h2.h2 alessi
								span.upper
									b designer: 
									| Piero Lissoni
									br
									b Client: 
									| Alessi
									br
									b Year: 
									| 2013
							.item-view
								a(href="#") View project
							.item-likes
								a(href="")
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								br
								span +200
					.col-xs-6.col-sm-5.col-md-5.col-lg-4.three-hundred.name-section.half.width-clear(style='background-color:#ebb240;')
						.nav-project.sub
							span Timeline
							ul
								li 2014
								li 2013
								li 2012
								li 2011
								li 2010
		section.studio#studio
			.container-fluid
				.row
					.col-xs-12.col-sm-5.col-md-4.col-lg-4.name-section(style='background-color:#ff9b6d;')
						.project-title
							.h1-project
								h1.h1 studio
					.col-xs-12.col-sm-7.col-md-8.col-lg-8.studio-section.height-clear
						.studio-info
							.studio-info-block
								p.cursiv.bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin eros sit amet nulla rhoncus dictum. 
								p.cursiv.bold Nam rhoncus fringilla dolor vitae vulputate. Nullam quis eros lorem. Integer cursus erat a orci congue feugiat. Cras rhoncus mollis libero, id aliquet purus varius sed.
								p.light Aenean ullamcorper porta nisl, ac lobortis elit commodo placerat. 
								p.light Vivamus eget laoreet enim. Sed nunc dui, egestas vel diam convallis, faucibus iaculis sapien. Sed ut vulputate nisi. 
								p.light Proin tempor risus tellus. Maecenas sit amet fringilla urna, vel iaculis velit. Sed ac felis et sem mollis dictum sed id orci.
							.studio-info-block
								.img
									img(src="img/studio_small.png", width='100%' alt="Studio")
								span.bold awards
								hr
								.awards-block
									.award
										span 
											|Aenean ullamcorper
											br
											|porta nisl,
											br
											|ac lobortis elit 
											br
											|commodo placerat. 
											br
											|Vivamus 
									.award.float-right
										span
											|Aenean ullamcorper
											br
											|porta nisl,
											br
											|ac lobortis elit 
											br
											|commodo placerat. 
											br
											|Vivamus 
			.staff
				.container
					.row
						.col-xs-12.col-sm-12.col-sm-offset-0.col-md-3.col-lg-3
							p.not-margin-top STAFF.
							p.light Sit amet laoreet sapien dictum. Sed eget eros augue. Pellentesque tempor mi sit amet nisi tincidunt tincidunt. Fusce malesuada lectus sed mauris pharetra faucibus. 
							p.light Aenean diam tortor, hendrerit ac pulvinar vel, condimentum ac velit. Phasellus eu odio elit. Aenean volutpat mi quam, ut ornare augue tempus ut. 
							p.light Morbi sagittis diam mauris, in adipiscing nulla convallis ut.
						.col-xs-12.col-sm-4.col-sm-offset-0.col-md-3.col-lg-3
							.designer-block
								.img
									img(src="img/designer_1.png", width="100%" alt="")
								.name
									span.name-designer philippe starck
									span designer
								.contacts
									.cv
										a(href="#") CV
									.s-icons
										a(href="#")
											<i class="fa fa-facebook" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-twitter" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-google-plus" aria-hidden="true"></i>

						.col-xs-12.col-sm-4.col-sm-offset-0.col-md-3.col-lg-3
							.designer-block
								.img
									img(src="img/designer_2.png", width="100%" alt="")
								.name
									span.name-designer mario bellini
									span designer
								.contacts
									.cv
										a(href="#") CV
									.s-icons
										a(href="#")
											<i class="fa fa-facebook" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-twitter" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-google-plus" aria-hidden="true"></i>

						.col-xs-12.col-sm-4.col-sm-offset-0.col-md-3.col-lg-3
							.designer-block
								.img
									img(src="img/designer_3.png", width="100%" alt="")
								.name
									span.name-designer patricia urquiola
									span designer
								.contacts
									.cv
										a(href="#") CV
									.s-icons
										a(href="#")
											<i class="fa fa-facebook" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-twitter" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										a(href="#")
											<i class="fa fa-google-plus" aria-hidden="true"></i>

		section.s-news#news
			.container-fluid
				.row
					.col-xs-12.col-sm-5.col-md-4.col-lg-4.name-section(style='background-color:#d4edbf;')
						.project-title
							.h1-project
								h1.h1 news
					.col-xs-12.col-sm-7.col-md-8.col-lg-8.height-clear
						.news
							.news-block
								.title-news
									h2.h2.bold Mauris et dui sed justo placerat tristique.
								.date-news
									span 11.07.2014
								.img-news
									img(src="img/news_1.png",width='100%' alt="")
								.info-news
									span Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt. 
								.read-more
									a(href="#") read more
							.news-block
								.title-news
									h2.h2.bold Proin vehicula nibh massa.
								.date-news
									span 11.07.2014
								.img-news
									img(src="img/news_2.png",width='100%' alt="")
								.info-news
									span Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque.  
								.read-more
									a(href="#") read more
		footer
			.container-fluid
				.row
					.col-sm-6.col-md-6.col-lg-6.big.not-padd
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106122.56209270716!2d-118.24777888677835!3d33.77797374461371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cae84099d759%3A0xa1003afac42a8faa!2z0JvQvtC90LMt0JHQuNGHLCDQmtCw0LvQuNGE0L7RgNC90LjRjywg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1499180726819" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					.col-sm-6.col-md-6.col-lg-6.big#contact
						.contact-info
								span
									|90802 California
									br
									|Long beach
									br
									|PO Box 68789
									br
									|300 East Ocean 
									br
									|Boulevard
									br
									br
									|+64 9 345 6758
									br
									|info@dsgn-studio.com
						.logo-block
							img(src="img/logo.png", width='100%' alt="")
							span 
								|ASSOCIATES
								br
								|STUDIO
								br
								|DESIGN
							.soc-icons
								a(href="")
									<i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="")
									<i class="fa fa-twitter" aria-hidden="true"></i>
								a(href="")
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								a(href="")
									<i class="fa fa-google-plus" aria-hidden="true"></i>
						.copyright
							span &copy 2014  DSGN. All rights reserved - Designed by theuncreativelab.com
		script(src='js/libs.min.js')
		script(src='js/common.js')