$font-color: #fff;
$dark-logo-font-color: #393d3c;
$dark-font-color:#333333;
$sub-text-color:#6a6969;
$background-color: #e9eae2;
$sea-color: #7acec3;
$sea-light-color: #dfe0d9;
$sea-dark-color: #cecece;
$orange-color: #ebb240;
$default-font: 'RobotoCondensed';