@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/RobotoCondensed-Regular.eot?") format("eot"), url("../fonts/roboto/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/roboto/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/roboto/RobotoCondensed-Bold.eot?") format("eot"), url("../fonts/roboto/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/roboto/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Bold.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/RobotoCondensed-Light.eot?") format("eot"), url("../fonts/roboto/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/roboto/RobotoCondensed-Light.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Light.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto/RobotoCondensed-Italic.eot?") format("eot"), url("../fonts/roboto/RobotoCondensed-Italic.woff2") format("woff2"), url("../fonts/roboto/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-Italic.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-Italic.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/roboto/RobotoCondensed-BoldItalic.eot?") format("eot"), url("../fonts/roboto/RobotoCondensed-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/roboto/RobotoCondensed-BoldItalic.ttf") format("truetype"), url("../fonts/roboto/RobotoCondensed-BoldItalic.svg#RobotoCondensed") format("svg"); }

html {
  overflow-x: hidden; }

body {
  background-color: #e9eae2;
  font-family: "RobotoCondensed";
  font-size: 16px;
  line-height: 1; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

p.cursiv, span.cursiv, .h1.cursiv, .h2.cursiv, .h3.cursiv {
  font-style: italic; }

p.bold, span.bold, .h1.bold, .h2.bold, .h3.bold {
  font-weight: bold; }

p.light, span.light, .h1.light, .h2.light, .h3.light {
  font-weight: lighter; }

.h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal; }

.h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 0.2em; }

.container-fluid div[class*=col] {
  height: 500px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .container-fluid div[class*=col].half {
    height: 250px; }
  .container-fluid div[class*=col].three-hundred {
    height: 300px; }
  .container-fluid div[class*=col].big {
    height: 650px; }

.row div.name-section {
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url("../img/1.svg"); }
  .row div.name-section.half {
    -webkit-background-size: 60% 100%;
            background-size: 60% 100%;
    background-position: left; }

header {
  color: #fff; }

.logo-section {
  position: relative; }

.logo-block {
  top: 50px;
  position: absolute;
  left: 15%;
  width: 170px; }
  .logo-block span {
    color: #393d3c;
    font-size: 1.125em;
    font-weight: 400;
    text-transform: uppercase; }
  .logo-block .soc-icons {
    margin-top: 40px;
    text-align: center; }
    .logo-block .soc-icons a {
      text-decoration: none;
      font-size: 25px;
      color: #7acec3;
      margin: 0 5px; }
      .logo-block .soc-icons a:hover {
        color: #242424; }

.nav-mobile {
  z-index: 10;
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  padding: 20px 0 20px 40px;
  background-color: #fff;
  border-left: 1px solid #7acec3;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }
  .nav-mobile.open {
    right: 0; }
  .nav-mobile .menu-opener {
    position: absolute;
    top: 50px;
    left: -125px;
    height: 100px;
    width: 100px;
    border: 3px solid #7acec3;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); }
    .nav-mobile .menu-opener:hover {
      background-color: #fff; }
    .nav-mobile .menu-opener i {
      color: #7acec3;
      font-size: 50px;
      line-height: 100px; }
      .nav-mobile .menu-opener i.none {
        display: none; }
  .nav-mobile .logo-block {
    width: 80px;
    position: static; }
  .nav-mobile ul {
    padding: 0;
    margin-bottom: 40px; }
  .nav-mobile ul li {
    display: block;
    padding: 5px 0; }
    .nav-mobile ul li a {
      color: #000;
      font-size: 25px; }
  .nav-mobile .soc-icons a {
    margin: 0 5px;
    color: #7acec3;
    font-size: 20px;
    text-decoration: none; }
    .nav-mobile .soc-icons a:hover {
      color: #333333; }
  .nav-mobile .address, .nav-mobile .contacts {
    margin-top: 10px;
    color: #333333; }

.nav-section {
  position: relative; }

.nav-block {
  padding-top: 50px;
  width: 100%; }
  .nav-block .nav {
    position: relative;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border: 3px solid #fff;
    text-align: center; }
    .nav-block .nav .menu {
      display: none;
      position: absolute;
      top: -3px;
      right: -3px;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 750px;
      background-color: #f8c255; }
      .nav-block .nav .menu.open-menu {
        display: block; }
      .nav-block .nav .menu li {
        display: inline-block;
        float: left;
        height: 125px;
        width: 125px;
        background-color: #f8c255; }
        .nav-block .nav .menu li a {
          line-height: 125px;
          color: #fff;
          font-size: 14px; }
          .nav-block .nav .menu li a:hover {
            color: #333333;
            text-decoration: none; }
          .nav-block .nav .menu li a:focus {
            text-decoration: none; }
    .nav-block .nav:hover {
      background-color: #fff; }
      .nav-block .nav:hover .menu-opener > i {
        color: #7acec3; }
    .nav-block .nav i {
      font-size: 50px;
      line-height: 125px; }
  .nav-block .address {
    position: absolute;
    top: 55%;
    left: 7%; }
  .nav-block .contacts {
    position: absolute;
    top: 80%;
    left: 25%; }

.project {
  color: #333333;
  background-color: #fff; }

.project-title {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff; }

.nav-project {
  position: absolute;
  top: 30%;
  left: 30%; }
  .nav-project.sub {
    top: 20%;
    left: 15%; }
  .nav-project ul {
    padding: 0;
    margin-top: 0.3em; }
  .nav-project ul li {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    list-style-type: none;
    cursor: pointer; }
    .nav-project ul li:hover {
      color: #000; }
    .nav-project ul li:hover::before {
      color: #fff;
      position: absolute;
      left: -20px;
      font-family: FontAwesome;
      content: "\f061"; }

.h1-project {
  position: absolute;
  top: 50%;
  left: 45%; }

.white-back {
  background-color: #fff; }

.sea-back {
  background-color: #dfe0d9; }

.sea-dark-back {
  background-color: #cecece; }

.not-padd {
  padding-left: 0;
  padding-right: 0; }

.item {
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .item .item-info span {
    font-size: 0.75em; }
    .item .item-info span.upper {
      text-transform: uppercase; }
  .item .item-view {
    text-align: center; }
    .item .item-view a {
      position: relative;
      display: inline-block;
      font-size: 1.125em;
      font-weight: lighter;
      color: #333333; }
      .item .item-view a:hover {
        text-decoration: none;
        color: red; }
    .item .item-view a::before {
      position: absolute;
      left: -20px;
      color: #ebb240;
      font-family: FontAwesome;
      content: "\f061"; }
  .item .item-likes {
    text-align: center; }
    .item .item-likes a {
      font-size: 25px; }
      .item .item-likes a:hover {
        text-decoration: none; }
    .item .item-likes span {
      color: red;
      font-weight: lighter;
      font-size: 0.6875em; }

.fondue {
  width: 55%;
  height: 100%;
  padding-top: 10%;
  padding-left: 9%; }
  .fondue .item-view {
    margin-top: 60px; }
  .fondue .item-likes {
    margin-top: 100px; }

.potter {
  width: 100%;
  height: 50%; }
  .potter .item-info {
    width: 35%;
    position: absolute;
    top: 5%;
    left: 10%; }
  .potter .item-view {
    position: absolute;
    top: 65%;
    left: 15%; }
  .potter .item-likes {
    position: absolute;
    top: 80%;
    left: 22%; }

.tabano {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%; }
  .tabano.in-flow {
    position: static; }
  .tabano .item-info {
    position: absolute;
    top: 65%;
    left: 12%; }
  .tabano .item-view {
    position: absolute;
    top: 75%;
    left: 57%; }
  .tabano .item-likes {
    position: absolute;
    top: 75%;
    left: 85%; }

.louis {
  width: 60%;
  height: 100%;
  padding-top: 10%;
  padding-left: 9%;
  color: #fff; }
  .louis .item-view {
    margin-top: 15%; }
    .louis .item-view a {
      color: #fff; }
  .louis .item-likes {
    margin-top: 15%; }
    .louis .item-likes a {
      color: #fff; }
      .louis .item-likes a:hover {
        color: red; }

.project-395 {
  width: 100%;
  height: 100%; }
  .project-395 .item-info {
    position: absolute;
    top: 10%;
    left: 45%; }
  .project-395 .item-second-block {
    position: absolute;
    top: 15%;
    left: 80%; }
  .project-395 .item-likes {
    margin-top: 25px; }

.fiji {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0%; }
  .fiji .item-info {
    position: absolute;
    top: 10%;
    left: 55%; }
  .fiji .item-view {
    position: absolute;
    top: 55%;
    left: 60%; }
  .fiji .item-likes {
    position: absolute;
    top: 75%;
    left: 68%; }

.sesann {
  position: absolute;
  top: 57%;
  left: 15%;
  width: 100%; }
  .sesann .item-view {
    position: absolute;
    top: 43%;
    left: 35%; }
  .sesann .item-likes {
    position: absolute;
    top: 43%;
    left: 65%; }

.alessi {
  position: absolute;
  top: 15%;
  left: 45%;
  width: 50%; }
  .alessi .item-info {
    margin-left: 20%; }
  .alessi .item-view {
    margin-top: 15%; }
  .alessi .item-likes {
    margin-top: 15%; }

.studio p {
  font-size: 1.125em; }
  .studio p.small {
    font-size: 0.875em; }

.studio-info, .news {
  padding-top: 6%;
  padding-left: 8%; }

.studio-info-block, .news-block {
  display: inline-block;
  width: 38%;
  vertical-align: top;
  margin-left: 20px; }
  .studio-info-block .img, .studio-info-block .img-news, .news-block .img, .news-block .img-news {
    margin: 1em 0; }
  .studio-info-block span, .news-block span {
    text-transform: uppercase;
    font-size: 0.875em; }
    .studio-info-block span.cursiv, .news-block span.cursiv {
      font-style: italic; }
    .studio-info-block span.bold, .news-block span.bold {
      font-weight: bold; }
  .studio-info-block hr, .news-block hr {
    margin: 0.2em 0;
    border-color: #000;
    opacity: 0.18; }

.awards-block .award {
  margin-top: 5px;
  display: inline-block;
  padding-right: 5px; }
  .awards-block .award.float-right {
    float: right; }
  .awards-block .award span {
    font-size: 0.75em; }

.staff {
  padding-top: 60px;
  padding-bottom: 90px; }
  .staff .not-margin-top {
    margin-top: 0; }

.designer-block .img {
  background-color: #fff; }

.designer-block .name {
  margin: 20px 0; }
  .designer-block .name .name-designer {
    display: block;
    font-size: 0.8125em;
    font-weight: bold; }
  .designer-block .name span {
    line-height: 16px;
    text-transform: uppercase;
    font-size: 0.75em; }

.designer-block .contacts a {
  font-size: 0.875em;
  color: red;
  position: relative; }

.designer-block .contacts .cv, .designer-block .contacts .s-icons {
  display: inline-block; }

.designer-block .contacts .cv a::after {
  position: absolute;
  top: 0.3em;
  left: 20px;
  color: red;
  font-family: FontAwesome;
  content: "\f060"; }

.designer-block .contacts .s-icons {
  float: right; }
  .designer-block .contacts .s-icons a {
    margin-left: 1em; }

.news-block span {
  font-size: 0.75em;
  color: #6a6969;
  text-transform: none; }

.news-block .title-news {
  min-height: 48px; }

.news-block .img-news {
  background-color: #d4edbf; }

.news-block .info-news {
  min-height: 65px; }

.news-block .read-more a {
  font-size: 0.75em;
  color: red;
  float: right; }

footer .logo-block {
  top: 20%;
  left: 53%; }

footer .contact-info {
  position: absolute;
  top: 20%;
  left: 17%; }

footer .copyright {
  position: absolute;
  top: 90%;
  left: 17%;
  font-size: 0.75em; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px; }
  .container-fluid div[class*=col] {
    height: 450px; }
    .container-fluid div[class*=col].half {
      height: 250px; }
    .container-fluid div[class*=col].three-hundred {
      height: 300px; }
    .container-fluid div[class*=col].big {
      height: 600px; }
  .nav-block .nav {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    text-align: center; }
    .nav-block .nav .menu {
      width: 600px; }
      .nav-block .nav .menu li {
        height: 100px;
        width: 100px; }
        .nav-block .nav .menu li a {
          line-height: 100px; }
    .nav-block .nav i {
      font-size: 50px;
      line-height: 100px; }
  .studio-info, .news {
    padding-top: 8%;
    padding-left: 3%; }
  .studio-info-block, .news-block {
    width: 46%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body {
    font-size: 13px; }
  .container-fluid div[class*=col] {
    height: 440px; }
    .container-fluid div[class*=col].half {
      height: 250px; }
    .container-fluid div[class*=col].three-hundred {
      height: 300px; }
    .container-fluid div[class*=col].big {
      height: 500px; }
  .nav-block .nav {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    text-align: center; }
    .nav-block .nav i {
      font-size: 50px;
      line-height: 100px; }
  .studio-info, .news {
    padding-left: 0%; }
  .studio-info-block, .news-block {
    width: 44%; }
  .awards-block .award.float-right {
    float: none; }
  .news-block .title-news {
    min-height: 57px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container-fluid div[class*=col] {
    height: 440px; }
    .container-fluid div[class*=col].half {
      height: 250px; }
    .container-fluid div[class*=col].three-hundred {
      height: 300px; }
    .container-fluid div[class*=col].big {
      height: 500px; }
  .container-fluid .row div.name-section {
    height: 350px; }
    .container-fluid .row div.name-section.half {
      height: 300px;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      background-position: center; }
  .designer-block {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid red; }
  .studio-info-block, .news-block {
    width: 100%;
    margin-left: 0; }
  .news-block .title-news {
    min-height: 1px; }
  .container-fluid .row div.height-clear {
    height: auto; }
  .studio-info, .news {
    padding-bottom: 10%; }
  .awards-block .award.float-right {
    float: right;
    padding-right: 20vw; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .container-fluid .row div.width-clear {
    width: 100%;
    margin: 0; }
  .container-fluid div[class*=col].big {
    height: 400px; }
  .container-fluid .row div.name-section.half {
    height: 250px; }
  .project-395 .item-info {
    top: 10%;
    left: 20%; }
  .project-395 .item-second-block {
    left: 65%; }
  .tabano .item-info {
    left: 5%; }
  .tabano .item-view {
    left: 52%; }
  .sesann {
    left: 5%; }
    .sesann .item-info {
      left: 5%; }
    .sesann .item-view {
      left: 46%; }
    .sesann .item-likes {
      left: 78%; }
  .logo-block {
    width: 130px; }
  footer .contact-info {
    top: 15%;
    left: 10%; }
  footer .logo-block {
    top: 15%;
    left: 50%; }
  .nav-project {
    top: 20%;
    left: 20%; }
  .nav-mobile {
    right: -190px;
    width: 190px; }
  .nav-mobile .menu-opener {
    left: -90px;
    height: 70px;
    width: 70px; }
    .nav-mobile .menu-opener i {
      font-size: 40px;
      line-height: 70px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .container-fluid .row div.name-section {
    height: 200px; }
    .container-fluid .row div.name-section.half {
      height: 200px; } }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
