@font-face {
font-family: Poiret One;
src: url(../fonts/PoiretOne-Regular.ttf);
}

html{
	height:100%;
}

body{
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    /*font-size: 1.111111111111111vw;*/
    color:white;
    text-transform: uppercase;
	background-position: center center;      
	background-repeat: no-repeat;      
	background-attachment: fixed;      
	background-size: cover;      
	background-color: #ABABAB;
	height:100%;
	margin:0;
	padding:0;
	cursor: default;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
	transition:1s;
	opacity: 1;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:100000;
	background-color: #0C0C0C ;
}

.pulse {
	position: relative;
	left: 50%;
	top: 50vh;
	margin-left: -40px;
	margin-top: -40px;
}
.pulse::before, .pulse::after {
	content: '';
	border: 5px solid #323232;
	width: 80px;
	height: 80px;
	border-radius: 500px;
	position: absolute;
}

.pulse::before {
	-webkit-animation: pulse-outher .8s infinite ease-in;
	-moz-animation: pulse-outher .8s infinite ease-in;
	animation: pulse-outher .8s infinite ease-in;
}

.pulse::after {
	-webkit-animation: pulse-inner .8s infinite linear;
	-moz-animation: pulse-inner .8s infinite linear;
	animation: pulse-inner .8s infinite linear;
}
@-webkit-keyframes pulse-outher {
	0% {opacity:100;}
	50% {opacity:50;}
	100% {opacity:0;}
}
@-moz-keyframes pulse-outher {
	0% {opacity:100;}
	50% {opacity:50;}
	100% {opacity:0;}
}
@keyframes pulse-outher {
	0% {opacity:100;}
	50% {opacity:50;}
	100% {opacity:0;}
}

@-webkit-keyframes pulse-inner {
	0% {opacity:0; -webkit-transform:scale(0); transform:scale(0);}
	100% {opacity:100; -webkit-transform: scale(1); transform: scale(1);}
}

@-moz-keyframes pulse-inner {
	0% {opacity:0; -moz-transform:scale(0); transform:scale(0);}
	100% {opacity:100; -moz-transform: scale(1); transform: scale(1);}
}

@keyframes pulse-inner {
	0% {opacity:0; -webkit-transform:scale(0); -moz-transform:scale(0); transform:scale(0);}
	100% {opacity:100; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1);}
}

canvas{
	position:absolute;
	height:100%;
	width: 100%;
	top:0;
	left:0;
	z-index:-1;
	opacity: 0.7
}

/******HEADER******/

	header{
		position:fixed;
		text-align:center;
		width:100%;
		min-height: 60px;
	}

	/******BUTTON "PLAY/PAUSE AND MENU"******/

	.pause_play, .menu{
		color: white;
	    position: absolute;
	    z-index: 2000000;
	    top: 0;
	    height: 40px;
	    line-height: 40px;
	    padding: 0 1.388888888888889%;
	    font-size: 125%;
	    margin-top: 0.6944444444444444%;
		font-weight:bold;
		-webkit-transition:all 0.5s ease-out 0s;
		-o-transition: all 0.5s ease-out 0s;
		-moz-transition: all 0.5s ease-out 0s;
		transition: all 0.5s ease-out 0s;
	}
	
	#mute_button{
	position:fixed;
	bottom:30px; 
	left:1.388888888888889%;
	opacity: 0.7;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	z-index:5;
	width:50px;
	height:50px;
	}

	#mute_button:hover{
	opacity: 0.9;
	}

	.pause_play{
		left:1.388888888888889%;
	}

	.menu{
	    right: 1.388888888888889%;
	}

	.pause_play:active:hover, .menu:active:hover{
		background:white;
		color:black;
	}
	.pause_play:hover, .menu:hover{
		color: #fff;
	    background-color: rgba(0,0,0,0.3);
	}

	.men{
		display:none;
		-webkit-transition:all 1s ease-out 0s;
		-o-transition: all 1s ease-out 0s;
		-moz-transition: all 1s ease-out 0s;
		transition: all 1s ease-out 0s;
		float:none;
		text-align: center;
		margin-top:0.6944444444444444%;
		-webkit-padding-start:0;
	}

	.men li{
		font-size: 125%;
		font-weight:bold;
		float:left;
		list-style-type: none;
	}
	.men li a{
	    margin-right:2px;
	    position:relative;
	    display:block;
		color: white;
	    z-index: 2000000;
	    top: 0;
	    right: 1.388888888888889%;
	    height: 40px;
	    line-height: 40px;
	    padding: 0 15px;
		-webkit-transition:all 0.5s ease-out 0s;
		-o-transition: all 0.5s ease-out 0s;
		-moz-transition: all 0.5s ease-out 0s;
		transition: all 0.5s ease-out 0s;
		background-color: rgba(0,0,0,.0);
		-webkit-transform:skewX(-10deg);
		-ms-transform:skewX(-10deg);
		-moz-transform:skewX(-10deg);
		transform:skewX(-10deg);
	}
	
	.men:hover li a{
		color:rgba(0,0,0,0);
		text-shadow:0px 0px 3px #fff;
		-webkit-transform: skew(0deg);
		-ms-transform: skew(0deg);
		-moz-transform: skew(0deg);
		transform: skew(0deg);
		background-color: rgba(0,0,0,.1);	
	}

	.men li a:hover{
		color: black;
	    background-color: rgba(255,255,255,0.7);	
	}

/*****CONTENT*****/
	/*****SLIDES*****/

	.slideRight, .slideLeft{
		position:fixed;
		display:table;
		top:55px;
		bottom:100px;
		height:85%;
		width:25%;
		text-align:center;
	}
	
	.slideRight{
		right:0;
	}

	.slideLeft{
		left:0;
	}
	
	.slide{
		display:table-cell;
		font-size:1000%;
		color:rgba(255,255,255,0.2);
		font-weight:bold;
		background: transparent;
		-webkit-transition:all 0.5s ease-out 0s;
		-o-transition: all 0.5s ease-out 0s;
		-moz-transition: all 0.5s ease-out 0s;
		transition: all 0.5s ease-out 0s;
		height:50px;
	    vertical-align: middle;
		padding:3.472222222222222%;
		z-index:1;
	}
	.slide:hover{
		color:white;
		text-shadow: white 0 0 10px;
	}

	/*****MIDDLE CONTENT*****/
		
	.center-center{
		display: table;
	    width: 100%;
		height:100%;
		z-index:100000;
	}

	.content-center{
	    display: table-cell;
	    text-align: center;
	    vertical-align: middle;
		height:100%;
		width: 100%;
		z-index:10000;
	}

		/*****LOGO*****/

		img {
		    height: auto;
		    max-width: 100%;
		    border: 0;
		}

		/*****TITLE*****/

		h1{
		    margin-top: 3.472222222222222%;
		    margin-bottom: 3.472222222222222%;
		    font-size: 600%;
		    color: white;
		    line-height: 60px;
		    letter-spacing: 18%;
			text-shadow: grey 0 0 6px;
			z-index:1000;
		}

		h1 p {
			color:yellow;
			font-weight:bold;
			text-shadow: red 0 0 10px;
			-webkit-transition:all 1s ease-out 0s;
			-o-transition: all 1s ease-out 0s;
			-moz-transition: all 1s ease-out 0s;
			transition: all 1s ease-out 0s;
			padding:0;
			margin: 0;
		}

		h1 p:hover{
			text-shadow: black 0 0 50px;
		}

		/*****TITLE POINT*****/

		.metro{
			margin:auto;
			font-size:300%;
			text-shadow: grey 0 0 10px;
			border-radius:0;
			border: 2px solid #fff;
			padding:1.388888888888889%;
			font-weight:900;
			background: transparent;
			-webkit-transition:all 0.5s ease-out 0s;
			-o-transition: all 0.5s ease-out 0s;
			-moz-transition: all 0.5s ease-out 0s;
			transition: all 0.5s ease-out 0s;
			z-index:9999;
			
		}

		.metro:hover{
			background: white;
			color:black;	
		}

		/*****INFO POINT*****/


		.name{
			display:table;
			margin:0 auto;
			-webkit-transition:all 0.5s ease-out 0s;
			-o-transition: all 0.5s ease-out 0s;
			-moz-transition: all 0.5s ease-out 0s;
			transition: all 0.5s ease-out 0s;
			background-color:rgba(255,255,255,0.7);
			color:black;
			font-size:180%;
			text-transform: none;
			-ms-flex-line-pack: center;
			-webkit-align-content: center;
			align-content: center;
			z-index:1000;
		
		}

		.name>div{
			height: 100%;
			vertical-align: middle;

		}

		.name>div:first-letter{
			font-size:200%;
			padding-left:10px;
			font-weight:bold;
		}

/*****FOOTER*****/
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding:3px;
		background-color: rgba(0,0,0,0.3);
		text-transform: none;
	}

	footer>p{
		text-align:center;
		margin:0px;
		color:white;
	}

	footer>p>a{
		color:#78DBE2;
		text-decoration:none;
	}

@media screen and (max-width: 800px) {
body {font-size: 70%;}
.content-center>img {width:120px;}
footer{font-size: 110%;}
header{font-size:110%;}
}

@media screen and (max-width: 500px) {
body {font-size: 60%;}
.content-center>img {width:100px;}
footer{font-size: 100%;}
header{font-size:100%;}
canvas{display:none;}
}

@media screen and (max-width: 390px) {
body {font-size: 45%;}
.content-center>img {width:80px;}
footer{font-size: 90%;}
header{font-size:90%;}
#mute_button{
    height:25px;
    width:25px;
}}









