@import 'vars';
@import 'fonts';

/*mixin transition*/
@mixin sample {
    
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

/*GRID borders*/
div {
	border: 1px solid $second-color;
}

.wrapper {
	height: 100%;
	cursor: default;
	font-family: $default-font;
	font-size: 1em;
	color: $main-color;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-moz-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;

	background-position: center center;      
	background-repeat: no-repeat;      
	background-attachment: fixed;      
	background-size: cover;      
	background-color: #ABABAB;
}

.header {
	-webkit-flex-basis:50px;
	-ms-flex-preferred-size:50px;
	flex-basis:50px;
}

.main-section {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-moz-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	text-transform: uppercase;
	text-shadow: grey 0 0 10px;
}

.info {
	-webkit-flex-basis:60%;
	-ms-flex-preferred-size:60%;
	flex-basis:60%;
	-webkit-box-ordinal-group:2;
	-webkit-order:1;
	-moz-box-ordinal-group:2;
	-ms-flex-order:1;
	order:1;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
}

.info > img {
	width: 150px;
	opacity: 0.8;

	&.close {
		display: none;
	}
}

.info > h1 {
	font-size: 6em;
	line-height: 0.6em;
    -webkit-margin-before: 0.33em;
    -webkit-margin-after: 0.33em;

    &.close {
		display: none;
	}

	strong {
		color: $other-color;
		text-shadow: red 0 0 10px;

		&:hover {
			text-shadow: $second-color 0 0 30px;
		}
	}
}

.container-point {
	border: 2px solid $main-color;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	&.active {
		width: 80%;
		height: 70%;
		border: none;
	}
}

.point-name {
	

	&:hover {
		background: $main-color;
    	color: $second-color;
	}

	&.active {
		border: 2px solid $main-color;
	}
}


.point-name > h2 {
	font-size: 3em;
	margin: 0;
	padding: 0.3em;
}

.point-info {
	display: none;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.8);

	-webkit-flex-basis:100%;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;

	&.active {
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
}

.point-info > p {
	font-size: 1.8em;
	color: $second-color;
	text-transform: none;
	margin: auto 1em;
	text-shadow: none;
}

.container-slide {
	-webkit-flex-basis:20%;
	-ms-flex-preferred-size:20%;
	flex-basis:20%;
	
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;


    
	font-weight: bold;
	font-size: 10em;

	opacity: 0.2;

	&:hover {
		opacity: 1;
		text-shadow: $main-color 0 0 10px;
	}
}

.arrow-left, .arrow-right {
	margin: auto;
}

.left {
	-webkit-box-ordinal-group:1;
	-webkit-order:0;
	-moz-box-ordinal-group:1;
	-ms-flex-order:0;
	order:0;
}

.right {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.container-footer {
	-webkit-flex-basis:80px;
	-ms-flex-preferred-size:80px;
	flex-basis:80px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding:3px;
	background-color: rgba(0,0,0,0.3);
	text-transform: none;
	color: $main-color;
	text-align: center;
	p {
		margin: 0;
	}

	a {
		color:#78DBE2;
		text-decoration:none;
	}
}

@import 'media';