<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
doctype html
html
	head
		title Bouncy
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='css/libs.min.css')
		link(rel='stylesheet' href='css/main.css')
		link(rel="shortcut icon" href="img/gulp_logo.png" type="image/png")
	body
		header#header(style='background-image: url(img/header_background.png);')
			.header
				.hidd
				nav#nav
					.container
						.row
							.col-xs-1
								.logo BOUNCY
							.col-xs-10.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-7.col-lg-offset-4
								.visible-xs.mobile-nav
									button.hamburger
										i.pe-7s-menu
									button.cross
										i.pe-7s-close
								ul.hidden-xs
									li
										a.button(href="#header") Hello
									li
										a.button(href='#about') About
									li
										a.button(href="#services") Services
									li
										a.button(href="#portfolio") Portfolio
									li
										a.button(href="#team") Team
									li
										a.button(href="#blog") Blog
									li
										a.button(href="#contact") Contact
							.menu-mobile.hidden-sm.hidden-md.hidden-lg
								ul
									li
										a(href="#header") Hello
									li
										a(href='#about') About
									li
										a(href="#services") Services
									li
										a(href="#portfolio") Portfolio
									li
										a(href="#team") Team
									li
										a(href="#blog") Blog
									li
										a(href="#contact") Contact
				.header-center
					.container
						h2.h2 we are code cafe
						p 
							| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
							br
							| praesentium voluptatum
					.header-arrow
						a(href='#down')
							i.pe-7s-angle-down.border.medium
		.section-white#down
			.container
				.row
					.col-xs-10.col-xs-offset-1.col-sm-offset-1.col-sm-6.col-sm-offset-1
						h3.h3 This is Bouncy
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
						a.button.dark(href='#about') Read More
					.hidden-xs.col-xs-2.col-xs-offset-1.col-sm-4.col-sm-offset-1
						img(src="img/IPAD.png")
		.section-opacity#about
			.section-center
				.container
					h3.h3 DetailS ABOUT BOUNCY
					p 
						|At vero eos et accusamus et iusto odio dignissimos ducimus qui
						br
						| blanditiis praesentium
					.row
						.col-xs-10.col-xs-offset-1
							i.border.pe-7s-like
							i.border.pe-7s-mouse
							i.border.pe-7s-light
			.container
				.row
					.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0
						h4.h4 Creative Ideas
				.row
					.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
					.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-1
						p.small At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
		.section-white
			.section-center
				.container
					h3.h3 FEATURED PROJECTS
					p.small 
						| At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						br
						| blanditiis praesentium
		.s-featured
			.section-center
				.container-fluid
					.row.hover-block
						.col-xs-4.notpadding
							.img-fluid(style='background-image: url(img/featured1.png);')
								.img-title
									h3.h3 +
						.col-xs-4.notpadding
							.img-fluid(style='background-image: url(img/featured2.png);')
								.img-title
									h3.h3 Vintage
						.col-xs-4.notpadding
							.img-fluid(style='background-image: url(img/featured3.png);')
								.img-title
									h3.h3 Branding
					.row.s-footer(style='background-image: url(img/featured_footer.png);')
						.s-pattern.green
						.col-xs-10.col-xs-offset-1.col-lg-7.col-lg-offset-1
							h4.h4.white At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
						.col-xs-10.col-xs-offset-1.col-lg-2.col-lg-offset-1
							a.button.white(href='#submit') Submite Now
		.section-opacity#services
			.section-center
				.container
					h3.h3 Our Services
					p.small
						| At vero eos et accusamus et iusto odio dignissimos ducimus qui
						br
						| blanditiis praesentium
			.container
				.row
					.col-xs-10.col-xs-offset-1.col-md-1.col-md-offset-0.text-center
							i.border.pe-7s-tools
							i.border.pe-7s-paint
							i.border.pe-7s-joy
							i.border.pe-7s-plug
					.col-xs-11.col-xs-offset-1.col-md-5.col-md-offset-0
						h4.h4 Graphic Design
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
						p.small quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
					.hidden-xs.col-xs-12.col-md-6
						.indicator-block
							.indicator-container
								.indicator#indicatorBrand
								.name-indicator
									p Branding
							.indicator-container
								.indicator#indicatorDesign
								.name-indicator
									p Web Design
							.indicator-container
								.indicator#indicatorUI
								.name-indicator
									p UI/UX
		.section(style='background-image: url(img/services_footer.png);')
			.container
				.row
					.col-xs-10.col-xs-offset-1.col-sm-7.col-sm-offset-0
						h3.h3.white Impressed ?
						p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
						p.small.upper  
							| Abdullah Noman 
							br 
							|Creatice Director, Code Cafe
					.hidden-xs.col-sm-3.col-sm-offset-2
						.logo Bouncy
						.monitor
							img(src='img/monitor.png')
				.s-pattern.dark
		.section-opacity#portfolio
			.section-center
				.container
					h3.h3 THE PORTFOLIO
					p 
						|At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						br
						|blanditiis praesentium
			.container
				.row
					.masonry-container
						- for(var i = 1; i <= 12; i++) {
						.col-lg-3.col-md-3.col-sm-3.col-xs-6.item
							img(src='img/gallery/' + i + '.png')
							.img-info
								.wrapper
									h3.h3 TITLE HERE
									hr(align='left')
									p.color-light-grey 
										|At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
									.icon
										i.border.pe-7s-link.small.black
										i.border.pe-7s-like.small.black

						-}
			.section-center
				.container.s-footer(style='background-image: url(img/portfolio_footer.png);')
					.row
						.col-xs-12
							h4.h4.white At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
							a.button.white(href='#submit') Submite Now
					.s-pattern.green
		.section-white#team
			.section-center
				.container
					h3.h3 The Team
					p.small 
						|At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						br
						|blanditiis praesentium
			//SLIDER BEGIN
			.da-slider#da-slider1.slider1
				.da-slide
					.container
						.row
							.col-xs-5.col-xs-offset-0.col-sm-5.col-sm-offset-1.col-lg-5.col-lg-offset-1
								img(src='img/abdullah.png')
							.col-xs-7.col-xs-offset-0.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-1
								.name-team-persone
									h4.h4 Abdullah Noman
									h6.h6 Creative Director, Code Cafe
								.info-team-persone
									p.small At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								.bars-team-persone
									.bar
										h5.h5.float-left branding
										h5.h5.float-right 80%
										.progress-bar.float-right
											.progress(style='width:80%;')
									.bar
										h5.h5.float-left web design
										h5.h5.float-right 65%
										.progress-bar.float-right
											.progress(style='width:65%;')
									.bar
										h5.h5.float-left user interface
										h5.h5.float-right 75%
										.progress-bar.float-right
											.progress(style='width:75%;')
				.da-slide
					.container
						.row
							.col-xs-5.col-xs-offset-0.col-sm-5.col-sm-offset-1.col-lg-5.col-lg-offset-1
								img(src='img/lara.png')
							.col-xs-7.col-xs-offset-0.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-1
								.name-team-persone
									h4.h4 Lara Northon
									h6.h6 Designer, Code Cafe
								.info-team-persone
									p.small At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								.bars-team-persone
									.bar
										h5.h5.float-left branding
										h5.h5.float-right 90%
										.progress-bar.float-right
											.progress(style='width:90%;')
									.bar
										h5.h5.float-left web design
										h5.h5.float-right 95%
										.progress-bar.float-right
											.progress(style='width:95%;')
									.bar
										h5.h5.float-left user interface
										h5.h5.float-right 55%
										.progress-bar.float-right
											.progress(style='width:55%;')
				.da-slide
					.container
						.row
							.col-xs-5.col-xs-offset-0.col-sm-5.col-sm-offset-1.col-lg-5.col-lg-offset-1
								img(src='img/jessy.png')
							.col-xs-7.col-xs-offset-0.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-1
								.name-team-persone
									h4.h4 Jessy Hienze
									h6.h6 Web-developer, Code Cafe
								.info-team-persone
									p.small At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								.bars-team-persone
									.bar
										h5.h5.float-left branding
										h5.h5.float-right 80%
										.progress-bar.float-right
											.progress(style='width:80%;')
									.bar
										h5.h5.float-left web design
										h5.h5.float-right 75%
										.progress-bar.float-right
											.progress(style='width:75%;')
									.bar
										h5.h5.float-left user interface
										h5.h5.float-right 95%
										.progress-bar.float-right
											.progress(style='width:95%;')
		.s-footer(style='background-image: url(img/team_footer.png);')
			.section-center
				.container
					.row
						.col-xs-12
							h4.h4.white Already Loved Us? Let’s talk!
							a.button.white(href='#contact') Contact Us
					.s-pattern.dark
		.section-opacity
			.section-center
				.container
					h3.h3 Testimonials
					p.small 
						|At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						br
						|blanditiis praesentium
			.container
				.da-slider#da-slider2.slider2
					.da-slide.section-slider
						.row
							.col-xs-3.col-sm-2.col-md-2.col-md-offset-1
								img(src='img/slider2_1.png')
							.col-xs-7.col-xs-offset-2.col-sm-9.col-sm-offset-1.col-md-8.col-md-offset-0
								p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
								p.not-margin-tb PARTHO
								p.small.not-margin-tb FOUNDER, ARTWAYS BD
					.da-slide.section-slider
						.row
							.col-xs-3.col-sm-2.col-md-2.col-md-offset-1
								img(src='img/slider2_2.png')
							.col-xs-7.col-xs-offset-2.col-sm-9.col-sm-offset-1.col-md-8.col-md-offset-0
								p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
								p.not-margin-tb PARTHO
								p.small.not-margin-tb FOUNDER, ARTWAYS BD
					.da-slide.section-slider
						.row
							.col-xs-3.col-sm-2.col-md-2.col-md-offset-1
								img(src='img/slider2_3.png')
							.col-xs-7.col-xs-offset-2.col-sm-9.col-sm-offset-1.col-md-8.col-md-offset-0
								p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
								p.not-margin-tb PARTHO
								p.small.not-margin-tb FOUNDER, ARTWAYS BD
		.section-slider.relative#blog(style='background-image: url(img/slider3_background.png);')
			.container
				.da-slider#da-slider3.slider3
					.da-slide
						.row
							.col-xs-12.col-sm-8.col-md-6
								h3.h3.white LATEST NEWS
								p.small.color-light-grey At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
						.row
							.col-xs-10.col-xs-offset-1.col-sm-8.col-md-6.col-md-offset-1
								h4.h4.white The trending Landing Pages
								h6.h6.not-margin-b by Kabir Uddin
								p.info.not-margin-t 6950 Likes - 243 Comments - 703 shares
								p.small At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... 
								a.color-light-grey + Read More
					.da-slide
						.row
							.col-xs-12.col-sm-8.col-md-6
								h3.h3.white LATEST VIDEOS
								p.small.color-light-grey At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
						.row
							.col-xs-10.col-sm-8.col-xs-offset-1
								<iframe width="100%" height="65%" src="https://www.youtube.com/embed/9hDKfBKuXjI" frameborder="0" allowfullscreen></iframe>
					.da-slide
						.row
							.col-xs-10.col-xs-offset-1.col-sm-8.col-md-6.col-md-offset-1
								h4.h4.white The trending Landing Pages
								h6.h6.not-margin-b by Kabir Uddin
								p.info.not-margin-t 6950 Likes - 243 Comments - 703 shares
								p.small At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... 
								a.color-light-grey + Read More
						.row.margin-t
							.col-xs-12.col-sm-8.col-md-6
								h3.h3.white VISIT OUR BLOG
								p.small.color-light-grey At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			.s-pattern.gradient
		.section-opacity
			.section-center
				.container
					h3.h3 Our Price
					p.small 
						|At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						br
						|blanditiis praesentium
					.row
						.col-xs-12
							.section-price
								.price-block#second-price
									.name-services
										h4.h4.white.upper.bold Premium
									.about-services
										.wrapp
											span.cost $65
											p.big.not-margin-t Per Month
								.hidden-xs.hidden-sm.price-block.info
									.about-services
										.wrapper
											p.small.align-l
												|Full Branding
												br
												|Project Management
												br
												|Unlimited Revisions
												br
												|24/7 h Service
												br
												|Free Domain
												br
												|Free Hosting
									.name-services
										p.white 
											|Let's Start   >
									.about-services.info-second
										.wrapper
											p.small.align-l
												|Full Branding
												br
												|Project Management
												br
												|Unlimited Revisions
												br
												|24/7 h Service
									.name-services.info-second
										p.white 
											|<   Let's Start
								.price-block
									.name-services
										h4.h4.white.upper.bold Exclusive
									.about-services
										.wrapp
											span.cost $80
											p.big.not-margin-t Per Month

		.section(style='background-image: url(img/subscribe_background.png);')
			.section-center
				.container
					.row
						.col-xs-12
							h3.h3.white Subscribe us
							p.small 
								|At vero eos et accusamus et iusto odio dignissimos ducimus qui 
								br
								|blanditiis praesentium
						form.form
							input(type="text" name="email" value="" placeholder='Email Address')
							button SUBMIT
				.s-pattern.dark
		.section-opacity#contact
			.section-center
				.container
					h3.h3 Contact Us
					p.small 
						|At vero eos et accusamus et iusto odio dignissimos ducimus qui 
						br
						|blanditiis praesentium
					.row
						.col-xs-12.contact-section
							.contact-block
								.block-img(style='background-image: url(img/contact1.png);')
									i.big.pe-7s-mail
								.block-info
									h5.h5.dark-color EMAIL
									p.small.upper 
										| hello@codecafe.com
										br
										| Personal@codecafe.com
							.contact-block
								.block-img(style='background-image: url(img/contact2.png);')
									i.big.pe-7s-map-marker
								.block-info
									h5.h5.dark-color OUR OFFICE
									p.small.upper 
										| 240 Bhatikhana, 8200 Barisal
										br
										| Bangladesh
							.contact-block
								.block-img(style='background-image: url(img/contact3.png);')
									i.big.pe-7s-call
								.block-info
									h5.h5.dark-color PHONE
									p.small.upper 
										| +00 11 66 99 66 44
										br
										| 11 99 66 44 065
		.section-white#submit
			.container
				.row
					.col-xs-10.col-xs-offset-1
						form.form
							input(type="text" name="name" value="" placeholder='Your Name')
							input(type="text" name="email" value="" placeholder='Email Address')
							input(type="text" name="subject" value="" placeholder='Subject')
							br
							input.big(type="text" name="email" value="" placeholder='')
							br
							button.big SUBMIT NOW
		.section-map
			.map
				p.upper 
					| FIND US ON THE MAP     
					i.border.pe-7s-angle-down.small
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1572.4676455885392!2d73.37182108150395!3d54.99120349472036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ca2abd9d6a81470!2z0J_QvtGH0YLQsCDQoNC-0YHRgdC40Lg!5e0!3m2!1sru!2sru!4v1498145984139" width="100%" height="495" frameborder="0" style="border:0" allowfullscreen></iframe>
		.section-opacity
			.section-center
				.container
					.logo.black Bouncy
					p.small Copyright 2015. All rights Reserved
					.soc-icons
						.icon
							img(src='img/soc_icons/facebook.svg')
						.icon
							img(src='img/soc_icons/twitter.svg')
						.icon
							img(src='img/soc_icons/linkedin.svg')
						.icon
							img(src='img/soc_icons/instagramm.svg')
						.icon
							img(src='img/soc_icons/vimeo.svg')
		script(src='js/libs.min.js')
		script(src='js/common.js')
