doctype html
html
	head
		title Cimpleo
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='css/libs.min.css')
		link(rel='stylesheet' href='css/main.css')
	body
		.header-section
			.container-fluid
				.row
					.col-sm-8.col-md-8.col-lg-8.col(style='background-image:url(img/logo_section.png);')
						.logo-block
							img(src="img/logo.png", width='100%' alt="")
							span 
								|Associates
								br 
								|studio 
								br
								|design
							.soc-icons
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<i class="fa fa-twitter" aria-hidden="true"></i>
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								<i class="fa fa-google-plus" aria-hidden="true"></i>
					.col-sm-4.col-md-4.col-lg-4(style='background-color:#7acec3;background-image:url(img/1.svg);')
						.menu-block
							.nav-button
								<i class="fa fa-bars" aria-hidden="true"></i>
							.address
								span 
									|90802 California
									br
									|Long beach
									br
									|PO Box 68789
									br
									|300 East Ocean
									br 
									|Boulevard
							.contacts
								span
									|+64 9 345 6758
									br
									|info@dsgn-studio.com
		.project-section
			.container-fluid
				.row
					.col-lg-4(style='background-color:#ebb240;')
					.col-lg-6
					.col-lg-4
		.studio-section
		.news-section
		.footer-section