main
  .container.no-padding.main
    .row
      .col-xs-10.col-xs-offset-1
        h1 4 шага навстречу мечте. Как построить скейт парк и кататься там с удовольствием?
        p.text-p Мы постоянно слышим просьбы о строительстве скейт парков со всех концов страны. Сегодня мы постараемся ответить на ваши частые вопросы, поэтому подготовили инструкцию к действию для инициативных экстремалов. Что делать, куда идти и что говорить, если вы хотите, чтобы в вашем городе построили или отремонтировали скейт-парк? Для начала стоит разобраться, как обычно происходит строительство экстрим-инфраструктуры в нашей стране.
        .image-article
          img(src="img/img1.jpg", alt="img1")
          span.image-description Команда DC-Russia на открытии первого бетонного скейтпарка Петербурга

        p.text-p Мы постоянно слышим просьбы о строительстве скейт парков со всех концов страны. Сегодня мы постараемся ответить на ваши частые вопросы, поэтому подготовили инструкцию к действию для инициативных экстремалов. Что делать, куда идти и что говорить, если вы хотите, чтобы в вашем городе построили или отремонтировали скейт-парк? Для начала стоит разобраться, как обычно происходит строительство экстрим-инфраструктуры в нашей стране.

        div.text-quote
          .first-row Самый частый вопрос:
          .second-row «Как нам добиться строительства скейт-парка?»

        h2.h2 В вашем городе никогда не было скейтпарка?

        p.text-p Эффективность сбора подписей зависит от локации. Входные группы торговых центров, кинотеатров и других мест притяжения горожан с хорошей проходимостью станут удачным выбором места сбора подписей. Не забудьте взять с собой скейты, самокаты и велики, распечатайте фотографии будущего скейтпарка. Дайте людям понять, чего вы хотите. Не бойтесь общаться с прохожими, ведь вы заняты общественно-полезным делом, вы хотите улучшить качество жизни в вашем городе! По возможности, попросите заинтересованных горожан высказать свое мнение о вашей инициативе строительства скейт парка на камеру. Это поможет вам доказать актуальность собранных подписей в администрации города. Если всё было сделано правильно, то уже до момента сбора подписей руководители города будут в курсе вашей инициатирвы.
        p.text-p Этой статьей мы открываем цикл публикаций для инициативных райдеров. В следующий раз мы расскажем о взаимодействии с чиновниками на предпроектных стадиях согласования вашей инициативы и будем рады ответить на возникшие вопросы в нашей группе вконтакте.
    .row
      .col-xs-12
        h4  Поделиться этой статьей в соц. сетях
    .row
      .col-xs-9
        .breadcrumbs
          a FK-Ramps
          |>
          a Блог
          |>
          a Скейтпарк в каждый двор
          |>
          span 4 шага на встречу мечте. Как построить скейтпарк
      .col-xs-3
        .data-publish Дата публикации: 2018.03.04