footer.footer
  .container
    .row.top-footer
      .col-sm-2
        img.logo-footer(src="img/logo-white.svg", alt="Logo")
      .col-sm-7.no-padding
        .buttons-section
          a Гос-заказчикам
          a Бизнесу
          a Райдерам
        .footer-nav
          a Портфолио
          a Каталог
          a Услуги
          a Магазин
          a О нас
          a Блог
          a Контакты
      .col-sm-3.phones
        .phone-heading Головной офис в Санкт-Петербурге
        .phone
          a(href="tel:+7(812)4385550") +7 (812) 438 55 50
        .phone-heading Для звонков по России  БЕСПЛАТНО
        .phone
          a(href="tel:88003502203") 8 800 350 22 03
    .row.bottom-footer
      .col-sm-3
        p.footer-text
          |© 2005 - 2016 ООО “ЭФКЕЙ-РАМПС”<br>Политика конфеденциальности<br>Все материалы, размещенные на сайте, <br>принадлежат компании FK-ramps.
      .col-sm-2
        p.footer-text
          |ООО "ЭФКЕЙ-рампс"<br>ОГРН 1174704007444<br>ИНН 4703150279<br>КПП 470301001
      .col-sm-2
        p.footer-text
          |ООО "Федераль"<br>ОГРН 1107847089954<br>ИНН 7806429119<br>КПП 780601001
      .col-sm-2
        p.footer-text
          |195248, &nbsp;г. Санкт-Петербург,<br>шоссе Революции, д.84 лит. Я<br>Пн-Сб: 9.00 - 19.00 (по Москве)<br>Вс: выходной
      .col-sm-3