header
  nav.main-navigation
    .container
      .row
        .col-xs-12.no-padding-l
          .nav-wrapper
            a.logo Logo
              img(src="img/logo.svg", alt="Logo")
            ul
              li
                a Портфолио
              li
                a Каталог
                ul
                  li
                    a Скейт
                  li
                    a Скейт
                  li
                    a Скейт
                  li
                    a Скейт
              li
                a Услуги
              li
                a Магазин
              li
                a Блог
              li
                a О нас
              li
                a Контакты
            div.button-wrapper
              a.download-button
                img(src="img/icon-book.svg", alt="Book")
                span Скачать буклет
  div.sub-navigation
    .container
      .row
        .col-xs-6.col-xs-offset-1
          .breadcrumbs
            a FK-Ramps
            | >
            a Блог
            | >
            a Скейтпарк в каждый двор
            | >
            span 4 шага на встречу мечте. Как построить скейтпарк
        //.col-sm-1.sub-menu
        //  a Рубрика
        //  ul
        //    li
        //      a Видео
        //    li
        //      a Команда
        //    li
        //      a Производство
        //.col-sm-1.sub-menu
        //  a Сезон
        //  ul
        //    li
        //      a Сезон 1
        //    li
        //      a Сезон 2
        //    li
        //      a Сезон 3
        //.col-sm-3