.teasers-section
  .container
    .row.d-flex
      .col-xs-3.teaser
        .img-section
          img(src="img/teaser.jpeg", alt="img")
        .description-section
          a Как построить байк парк? 5 секретов успешного проекта
      .col-xs-3.teaser
        .img-section
          img(src="img/teaser.jpeg", alt="img")
        .description-section
          a Как построить байк парк? 5 секретов успешного проекта
      .col-xs-3.teaser
        .img-section
          img(src="img/teaser.jpeg", alt="img")
        .description-section
          a Дизайн скейтпарков. daniel yabar для kingpinmag.com
      .col-xs-3.teaser
        .img-section
          img(src="img/teaser.jpeg", alt="img")
        .description-section
          a 4 шага навстречу мечте. Как построить скейт парк и кататься там с удовольствием